@import '../styles/variables.scss';

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: $section-height;
  background: $primary-light;
  color: $primary-dark;
  font-size: 4vh;
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }
  .information {
    width: $section-width;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    img {
      border-radius: 50%;
      height: auto;
      width: 40%;
    }
    p {
      width: 50%;
    }
  }
}

@media (max-width: $screen1) {
  #about {
    font-size: 3vh;
  }
}

@media (max-width: $screen2) {
  #about {
    h1 {
      font-size: 4rem;
    }
  }
}

@media (max-width: $screen4) {
  #about {
    h1{
      font-size: 3rem;
      margin-top: 20%;
    }
    .information {
      padding-bottom: 10%;
    }
  }
}

@media (max-width: $screen5) {
  #about {
    h1 {
      font-size: 2.5rem;

    }
  }
}