@import '../styles/variables.scss';

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $section-height;
  background: $primary;
  #contactHead {
    font-family: $fontfam;
    letter-spacing: 7px;
    font-size: 3vw;
    transform: rotate(270deg);
    margin: auto auto auto 5%;
    border-bottom: solid;
    color: $primary-light;
  }
  .contactContainer {
    width: 70%;
    height: 60vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: $primary-light;
    display: flex;
    font-family: $fontfams;
    color: $fontColor;
    font-size: 2vw;
    letter-spacing: 5px;
    h1 {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
    }
    .socials {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      div {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
          background: $fontColor;
          border-radius: 100%;
          height: 64px;
          width: 64px;
          cursor: pointer;
        }
      }
    }
  }
}

@media(max-width: $screen2) {
  #contact{
    .contactContainer {
      font-size: 2.5vw;
    }
  }
}

@media(max-width: $screen3) {
  #contact {
    #contactHead {
      font-size: 5vw;
    }
  }
}

@media (max-width: $screen5) {
  #contact {
    .contactContainer{
      .socials {
        display: flex;
        justify-content: center;
        div {
          display: flex;
          flex-direction: column;
          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
