@import '../styles/variables.scss';

#landing {
  height: $section-height;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #efe2ba;
  overflow-y: hidden;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 5vh;
    width: 100%;
    height: $section-height;
    z-index: 0;
  }
  h1 {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
  }
}