@import '../styles/variables.scss';

$imageHeight: 250px;

#projects {
  display:flex;
  // width: 80%;
  height: $section-height;
  margin: 0 auto;
  background: $primary-light;
  .container {
    flex: 33%;
    padding: 0 2em;
    .indProject {
      position:relative;
      width: 100%;
      height: auto;
      margin-top: 5em;
      
      .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        opacity: 0;

        .description {
          color: #fff;
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 2em;
            text-decoration: underline;
          }
          p {
            font-size: 1em;
          }
          .link {
            display: flex;
            justify-content: space-evenly;

          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .indProject:hover {
      .overlay{
        opacity:1;
        display: block;
        background: $primary-dark;
      }
    }
  }
}