@import '../styles/variables.scss';
$logo-width: 150px;
$logo-height: 110px;

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .icon {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    img {
      width: $logo-width;
      height: $logo-height;
      object-fit: contain;
    }

  }
}