@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

$primary: #BFBFBF;
$primary-light: #D9D9D9;
$primary-dark: #403C3A;

$section-width: 80%;
$section-height: auto;

$fontfam: 'Shippori Mincho'