@import '../styles/variables.scss';

#about {
  display: flex;
  align-items: center;
  min-height: $section-height;
  background: $primary;
  color: $primary-dark;
  font-size: 4vh;
  h1 {
    font-family: $fontfam;
    letter-spacing: 7px;
    font-size: 3vw;
    margin-bottom: 0;
    transform: rotate(270deg);
    margin: auto auto auto 5%;
    border-bottom: solid;
    color: $primary-dark;
  }
  .information {
    width: 70%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: $primary-dark;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    img {
      border-radius: 50%;
      height: auto;
      width: 35%;
    }
    p {
      width: 50%;
      color: $fontColor;
      font-size: 85%;
      margin: auto 0;
      a {
        color: $fontColor;
      }
    }
  }
}

@media only screen and (max-width: $screen1) {
  #about {
    .information {
      p {
        font-size: 80%;
      }
    }
  }
}

@media only screen and (max-width: $screen2) {
  #about {
    .information {
      p {
        font-size: 55%;
      }
    }
  }
}

@media only screen and (max-width: $screen5) {
  #about {
    h1 {
      margin: auto auto auto 0%;
    }
    .information {
      p {
        font-size: 45%;
      }
    }
  }
}
