@import '../styles/variables.scss';

#landing {
  height: $section-height;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #efe2ba;
  overflow-y: hidden;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 5vh;
    width: 100%;
    height: $section-height;
    z-index: 0;
  }
  #first {
    position: absolute;
    right: 20vw;
    bottom: 11vh;
    color: $nameColor;
  }
  #second {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    color: $nameColor
  }
}

@media only screen and (max-width: $screen1) {
  #landing {
    font-size: 0.9rem;
    #first {
      position: absolute;
      right: 15vw;
      bottom: 9vh;
    }
  }
}

@media only screen and (max-width: $screen2) {
  #landing {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: $screen3) {
  $together: 5%;
  #landing {
    font-size: 0.7rem;
    #first {
      position: absolute;
      left: $together;
      top: 25%;
    }
    #second {
      position: absolute;
      left: $together;
      top: 30%;
    }
    img {
      position: absolute;
      left: 0;
      width: 150%;
    }
  }
}

@media only screen and (max-width: $screen4) {
  #landing {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: $screen5) {
  $together: 40%;
  #landing {
    #first {
      width: $together;
      top: 10%;
    }
    #second {
      width: $together;
      top: 20%;
    }
  }
}