@import '../styles/variables.scss';

#nav {
  background: transparent;
  position: fixed;
  top: 3vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 5;
  #logo {
    text-decoration: none;
    font-family: 'Fascinate';
    margin-left: 5vh;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 1.5vw;
    color: $nameColor;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    color: $nameColor;
    #fontBurger {
      margin-right: 5vw;
    }
  }

  .hamburger.show {
    color: $fontColor;
    background: $nameColor;
    animation: animate 0.5s;
    border-bottom-left-radius: 10%;
    width: 250px;
    padding-top: 3vh;
    margin-top: -3vh;
  }

  .ul--show {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    position: relative;
    li, a {
      font-family: $fontfam;
      font-weight: 200;
      font-size: 1.5em;
      color: #fff;
      display: flex;
      justify-content: flex-end;
      margin-right: 5vw;
      text-decoration: none;
      letter-spacing: 3px;
    }
    a:hover, li:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
  .ul--hide {
    display: none;
  }
}


@keyframes animate {
  0% { opacity: 0; }
  5% { opacity: 0.05; }
  10% { opacity: 0.1; }
  15% { opacity: 0.15; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

@media only screen and (max-width: $screen1) {
  #nav {
    font-size: 90%;
    .hamburger.show {
      width: 20%;
    }
  }
}

@media only screen and (max-width: $screen2) {
  #nav {
    .ul--show {
      li, a {
        font-size: 1.2em;
      }
    }
  }
}

@media only screen and (max-width: $screen3) {
  #nav {
    .ul--show {
      li, a {
        font-size: 1.0em;
      }
    }
  }
}

@media only screen and (max-width: $screen4) {
  #nav {
    font-size: 80%;
    .ul--show {
      li, a {
        font-size: 1.0em;
      }
    }
  }
}

@media only screen and (max-width: $screen5) {
  #nav {
    font-size: 75%;
    .hamburger.show {
      width: 23%;
    }
    .ul--show {
      li, a {
        font-size: 0.8em;
      }
    }
  }
}