@import '../styles/variables.scss';

$imageHeight: 250px;

#projects {
  display:flex;
  height: $section-height;
  // margin: 0 auto;
  background: $primary-dark;
  #projectsHead {
    transform: rotate(270deg);
    height: 10vh;
    display: flex;
    align-items: center;
    margin: auto auto auto 5%;
    font-family: $fontfams;
    font-size: 3vw;
    color: $primary;
    letter-spacing: 7px;
    border-bottom: solid;
  }
  .containContainer {
      display: flex;
      // flex-direction: column;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 0.5vw;
      .indProject {
        position:relative;
        width: 100%;
        height: auto;
        margin-top: 5em;
        
        .overlay {
          position: absolute;
          z-index: 1;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease;
          opacity: 0;

          .description {
            color: $fontColor2;
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            h1 {
              font-size: 1.5vw;
              text-decoration: underline;
            }
            p {
              font-size: 1em;
              margin-top: 0;
            }
            .link {
              display: flex;
              justify-content: space-evenly;
              a {
                color: $fontColor2;
              }
            }
          }
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .indProject:hover {
        .overlay{
          opacity:1;
          display: block;
          background: $primary;
          .description{
            .link {
              a:hover {
                animation: shake 0.5s infinite;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: $screen1){
  #projects {
    .container {
      .indProject {
        .overlay {
          .description {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

@media (max-width: 910px){
  #projects {
    .container {
      .indProject {
        .overlay {
          .description {
            font-size: 0.6em;
            .link {
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen2){
  #projects {
    height: 100%;
    .container {
      .indProject {
        .overlay {
          height: 100%;
          .description {
            font-size: 0.5em;
            .link {
              a {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px){
  #projects {
    .containContainer {
      display: flex;
      flex-direction: column;
      .container {
        display: flex;
        flex-direction: row;
        .indProject {
          .overlay {
            .description {
              font-size: 1vw;
              .link {
                a {
                  font-size: 0.7em;
                }
              }
            }
          }
        }
      }
    }
  }
}