@import '../styles/variables.scss';

$logo-width: 150px;
$logo-height: 150px;

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $section-height;
  background: $primary;
  #skillsHead {
    font-family: $fontfam;
    width: auto;
    letter-spacing: 7px;
    font-size: 3vw;
    transform: rotate(270deg);
    margin: auto auto auto 5%;
    border-bottom: solid;
    color: $primary-dark;
  }
  .tab{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .skillsTab {
      height: 7vh;
      width: 100%;      
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 2vh;
        display: flex;
      }
      .head {
        color: $fontColor2;
        background: $primary;
        text-decoration: underline;
        h2:hover {
          cursor: pointer;
        }
      }
      .head.active-head {
        text-decoration: none;
        color: $fontColor;
        background: $primary-dark;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      button {
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
    .contentsTab {
      height: 100%;
      width: 100%;
      
      .content {
        display: none;
      }
      .active-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: $primary-dark;
        border-bottom-left-radius: 20px;
        position: relative;
        .icons {
          padding-top: 2vh;
          padding-bottom: 2vh;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          img {
            height: $logo-height;
            width: $logo-width;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $screen1) {
  $logo-height: 130px;
  $logo-width: 130px;
  #skills {
    .tab{
      .contentsTab {
        .content {
          .icons {
            img{
              height: $logo-height;
              width: $logo-width;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $screen2) {
  #skills {
    .tab{
      .skillsTab{
        h2 {
          font-size: 1.5vh;
        }
      }
      .contentsTab {
        .content {
          .icons {
            display: flex;
            flex-wrap: wrap;
            img{
              height: $logo-height;
              width: $logo-width;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $screen3) {
  $logo-height: 70px;
  $logo-width: 70px;
  #skills {
    .tab{
      .skillsTab{
        h2 {
          font-size: 1.2vh;
        }
      }
      .contentsTab {
        .content {
          .icons {
            display: flex;
            flex-wrap: wrap;
            img {
              height: $logo-height;
              width: $logo-width;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $screen4) {
  $logo-height: 50px;
  $logo-width: 50px;
  #skills {
    .tab{
      .contentsTab {
        .content {
          .icons {
            img{
              height: $logo-height;
              width: $logo-width;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $screen5) {
  #skills {
    .tab{
      .skillsTab{
        h2 {
          font-size: 0.75vh;
        }
      }
    }
  }
}