@import './styles/variables.scss';

$footerHeight: 1.5rem;

#pageContainer {
  position: relative;
  min-height: 100%;

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: $footerHeight
  }
}

h1 {
  font-weight: 800;
}

p {
  font-family: 'Shippori Mincho';
}